<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>姓名案例_模板字符实现</title>
  <script src='../js/vue.js'></script>
</head>
<body>
  <div id='root'>
    姓：<input type="text" v-model="firstname"><br>
    名：<input type="text" v-model="lastname"><br>
    全名：<span>{{firstname}}-{{lastname}}</span>
  </div>
  <script>
  new Vue({
  el:'#root',
  data:{
    firstname:'张',
    lastname:'三'
  },
  methods:{}
  })
  </script>
</body>
</html>